<div class="col-md-4 offset-md-4 card-body">
    <form [formGroup]="contactForm" (ngSubmit)="sendContact()">
        
        <label>Name:</label>
<input type ="text" formControlName="name" class="form-control" placeholder="enter name" [ngClass]="{'is-invalid':contactForm.get('name').invalid && contactForm.get('name').touched}"/>
<label>Email:</label>
<input type="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid':contactForm.get('email').invalid && contactForm.get('email').touched}"/>
<label>Message:</label>
<input type="text" formControlName="message" class="form-control" [ngClass]="{'is-invalid':contactForm.get('message').invalid && contactForm.get('message').touched}"/> 
<br>
<div class="col-md-4 offset-md-4">
<button class="btn btn-primary">Send</button>
</div>
    </form>
    </div>


    
<p>i am child component</p>
 
<p [ngClass]="['one','two']">Ng class with string</p>
<p [ngClass]="'three four'">Address-sangamner Khurd</p>
<p [ngClass]="{'one':true,'two':false,'three':true}">mobile number-847658964 ng class as object</p>
<p [ngClass]="getCss('mode')">place:pune</p>

<h3>Department list</h3>
<ul class="items">
    <li (click)="onSelect(department)" *ngFor="let department of Departments">
     <span class="badge">{{department.id}}</span>{{department.name}}
    </li>
</ul>
<app-notification-board></app-notification-board>


Enter message <input type="text" #message />
<button (click)="sendMsg(message)">send</button>

<span *ngFor="let letter of listUser.split(''); let i=index;">{{letter}}</span>
<div class="field">
    <input class="input" (input)="onInput($event.target.value)">
</div>